parameters:
    level: 3
    paths:
        - plugins/core/includes/storage-yandex.php
        - plugins/vk-id-auth/includes/account-linking.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanFiles:
        - plugins/core/includes/logger.php
        - plugins/core/includes/storage.php
        - plugins/core/includes/db.php
        - plugins/core/includes/locks.php
        - tests/phpstan-stubs.php
    excludePaths:
        analyse:
            - vendor
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
